
  .main {
    padding: 5px 30px;
    margin-top: 62px;
    position: relative;
    transition: margin-left 0.3s ease;
  }
  
  .component-compress  {
    margin-left: 250px;
  }
  
  .component-not-compress  {
    margin-left: 75px;
  }
  
  
 